.welcome{
    background-color: blue;
    border: 2px solid red;
}

.parent {
    background-color: white;
    border: 5px solid red;
    margin: 20px;
    padding: 10%;
    width: 400px;
    height: auto;
}